[Unit]
Description=C3PO Group.me Bot
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=60
Restart=always
ExecStartPre=-/usr/bin/docker kill c3po
ExecStartPre=-/usr/bin/docker rm c3po
ExecStartPre=/usr/bin/docker pull royvandewater/c3po
ExecStart=/usr/bin/docker run \
    --name c3po \
    -e VIRTUAL_HOST=c3po.royvandewater.com \
    royvandewater/c3po

[Install]
WantedBy=multi-user.target

