[Unit]
Description=Nginx Proxy
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=60
Restart=always
ExecStartPre=-/usr/bin/docker kill nginx-proxy
ExecStartPre=-/usr/bin/docker rm nginx-proxy
ExecStartPre=/usr/bin/docker pull jwilder/nginx-proxy
ExecStart=/usr/bin/docker run \
    --name nginx-proxy \
    --publish 80:80 \
    --volume /var/run/docker.sock:/tmp/docker.sock \
    jwilder/nginx-proxy

[Install]
WantedBy=multi-user.target

