[Unit]
Description=Rdio Sync Client
Requires=docker.service
After=docker.service
Wants=rdio_sync_api.service

[Service]
TimeoutStartSec=60
Restart=always
ExecStartPre=-/usr/bin/docker kill rdio-sync-client
ExecStartPre=-/usr/bin/docker rm rdio-sync-client
ExecStartPre=/usr/bin/docker pull royvandewater/rdio-sync-client
ExecStart=/usr/bin/docker run \
    --name rdio-sync-client \
    -e VIRTUAL_HOST=rdio-sync.com \
    royvandewater/rdio-sync-client

[Install]
WantedBy=multi-user.target

