[Unit]
Description=Rdio Sync (auto sync)
Requires=docker.service

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/rdio_sync
ExecStart=/usr/bin/docker run --link mysql:mysql -e RDIO_SECRET=${RDIO_SECRET} -e RDIO_KEY=${RDIO_KEY} royvandewater/rdio-sync-api npm run sync


