[Unit]
Description=Rdio Sync API
Requires=docker.service
After=docker.service
Wants=mysql.service
Wants=nginx_proxy.service
After=mysql.service

[Service]
TimeoutStartSec=60
Restart=always
EnvironmentFile=/etc/sysconfig/rdio_sync
ExecStartPre=-/usr/bin/docker kill rdio-sync-api
ExecStartPre=-/usr/bin/docker rm rdio-sync-api
ExecStartPre=/usr/bin/docker pull royvandewater/rdio-sync-api
ExecStart=/usr/bin/docker run \
    --name rdio-sync-api  \
    --link mysql:mysql  \
    -e RDIO_SECRET=${RDIO_SECRET}  \
    -e RDIO_KEY=${RDIO_KEY}  \
    -e VIRTUAL_PORT=3004 \
    -e VIRTUAL_HOST=api.rdio-sync.com  \
    royvandewater/rdio-sync-api

[Install]
WantedBy=multi-user.target

