[Unit]
Description=C3PO Group.me Bot
Requires=docker.service

[Service]
Restart=always
TimeoutStopSec=5
ExecStartPre=-/usr/bin/docker kill c3po
ExecStartPre=-/usr/bin/docker rm c3po
ExecStartPre=/usr/bin/docker pull royvandewater/c3po
ExecStart=/usr/bin/docker run \
    --name c3po \
    --rm \
    --publish 58637:80 \
    royvandewater/c3po

[X-fleet]
X-Conflicts=c3po@*.service
