[Unit]
Description=Mysql
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=60
Restart=always
ExecStartPre=-/usr/bin/docker stop mysql
ExecStartPre=-/usr/bin/docker rm mysql
ExecStartPre=/usr/bin/docker pull mysql
ExecStart=/usr/bin/docker run \
    --name mysql \
    --volume /var/lib/mysql:/var/lib/mysql \
    -e MYSQL_ROOT_PASSWORD=mofos \
    mysql

[Install]
WantedBy=multi-user.target

